<?php
/**
 * Test Configuration
 *
 * @author		Michael Weibel <mweibel@hsr.ch>
 * @copyright	(c) HTML5Wiki Team 2011
 * @package		Test
 */

/**
 * Skip functional tests if not on vs01 (because the selenium server only allows connections from vs01)
 */
define('SKIP_FUNCTIONAL_TESTS', false);

/**
 * Selenium host
 */
define('SELENIUM_HOST', 'http://vs01.openflex.net');

/**
 * Default timezone
 */
define('DEFAULT_TIMEZONE', 'Europe/Zurich');

/**
 * Database Configuration
 */
define('DATABASE_HOST', '127.0.0.1');
define('DATABASE_SCHEMA', 'html5wiki_test');
define('DATABASE_USERNAME', 'html5wiki');
define('DATABASE_PASSWORD', 'mySuperCoolPassword1337');
?>