//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Bundle: Ressources
// Autor:  Manuel Alabor
//
// Dieses Bundle stellt Farben, Bilder und Fonts als Variabeln zur
// Verfügung.
//

// Farben:
@primary_color: #e44d26;
@info_color: #7ab7e6;
@error_color: #e63d1f;
@question_color: #ffe292;

// Fonts:
@uifont: "Trebuchet MS", Tahoma, Arial, sans-serif;
@titlefont: @uifont;
//@paragraphfont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
@paragraphfont: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;

// Bilder:
@img_headerlogo: url('../images/headerLogo.png');
@img_headerbackground: url('../images/headerBackground.png');

// Icons:
@icon_house: url('../images/icons16/house.png');
@icon_clock_history_frame: url('../images/icons16/clockHistoryFrame.png');
@icon_page: url('../images/icons16/page.png');
@icon_magnifier: url('../images/icons16/magnifier.png');
@icon_pencil: url('../images/icons16/pencil.png');
@icon_3dglasses: url('../images/icons16/3dGlasses.png');
@icon_timeGo: url('../images/icons16/timeGo.png');
@icon_information: url('../images/icons16/information.png');
@icon_exclamation: url('../images/icons16/exclamation.png');
@icon_question: url('../images/icons16/question.png');

@icon_textHeading1: url('../images/icons16/text_heading_1.png');
@icon_textHeading2: url('../images/icons16/text_heading_2.png');
@icon_textHeading3: url('../images/icons16/text_heading_3.png');
@icon_textHeading4: url('../images/icons16/text_heading_4.png');
@icon_textHeading5: url('../images/icons16/text_heading_5.png');
@icon_textHeading6: url('../images/icons16/text_heading_6.png');
@icon_textBold: url('../images/icons16/text_bold.png');
@icon_textItalic: url('../images/icons16/text_italic.png');
@icon_textListBullets: url('../images/icons16/text_list_bullets.png');
@icon_textListNumbers: url('../images/icons16/text_list_numbers.png');
@icon_imageAdd: url('../images/icons16/image_add.png');
@icon_linkAdd: url('../images/icons16/link_add.png');
@icon_userComment: url('../images/icons16/user_comment.png');
@icon_sourceCode: url('../images/icons16/source_code.png');
@icon_pageMagnifier: url('../images/icons16/page_magnifier.png');

// Klassen:
.hide { display: none; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }