//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Bundle: Ressources
// Autor:  Manuel Alabor
//
// Dieses Bundle stellt Farben, Bilder und Fonts als Variabeln zur
// Verfügung.
//
@primarycolor: #e44d26;
@titlefont: Helvetica, "Helvetica Neue", Arial, sans-serif;
@img_headerlogo: url('../images/headerLogo.png');
@img_headerbackground: url('../images/headerbackground.png');
@icon_house: url('../images/icons_16/house.png');
@icon_timeline: url('../images/icons_16/timeline.png');
