//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Bundle: Mixins
// Autor:  Manuel Alabor
//
// LessCSS Mixins
//

.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}