//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Bundle: Ressources
// Autor:  Manuel Alabor
//
// Dieses Bundle stellt Farben, Bilder und Fonts als Variabeln zur
// Verfügung.
//

// Farben:
@primarycolor: #e44d26;


// Fonts:
@uifont: "Trebuchet MS", Tahoma, Arial, sans-serif;
@titlefont: @uifont;
//@paragraphfont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
@paragraphfont: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;

// Bilder:
@img_headerlogo: url('../images/headerLogo.png');
@img_headerbackground: url('../images/headerBackground.png');

// Icons:
@icon_house: url('../images/icons16/house.png');
@icon_clock_history_frame: url('../images/icons16/clockHistoryFrame.png');
@icon_page: url('../images/icons16/page.png');
@icon_magnifier: url('../images/icons16/magnifier.png');
@icon_pencil: url('../images/icons16/pencil.png');
@icon_3dglasses: url('../images/icons16/3dGlasses.png');
@icon_timeGo: url('../images/icons16/timeGo.png');

// Klassen:
.hide { display: none; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }