//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Bundle: Main-CSS-File
// Autor:  Manuel Alabor
//
@import "html5reset-1.6.1.css";
@import "bundle-mixins";
@import "bundle-ressources";
@import "bundle-buttons";

.header-overall {
	@logo_width: 153px;
	@logo_height: 60px;
	@header_padding_lr: 8px;
	@header_padding_tb: 6px;
	@searchbox_width: 150px;
	
	font-family: @uifont;
	font-size: 85%;
	background: @img_headerbackground repeat-x;
	position: relative;
	height: @logo_height;
	padding: @header_padding_lr @header_padding_tb;
	
	.logo {
		position: absolute;
		background: @img_headerlogo no-repeat;
		width: @logo_width;
		height: @logo_height;
	}
	
	.main-menu {
		margin-left: @logo_width + @header_padding_lr + 20px;
		margin-top: 28px;
		.menu-items {
			.item { float: left; list-style: none; margin-right: 3px; }
			.tab {
				color: black;
				text-decoration: none;
				background: 5px 5px no-repeat fadeout(#fff,40%);
				padding: 6px 8px 4px 24px;
				.border-radius(5px,5px,0,0);
				
				&:hover { background-color: fadeout(#fff,20%);}
			}
			.active { background-color: #fff; &:hover { background-color: #fff; } }
			.home .tab { background-image: @icon_house; }
			.updates .tab { background-image: @icon_clock_history_frame; }
			.article .tab { background-image: @icon_page; }
			
			.search {
				float: right;
				margin: -10px 0 0 0;
				
				.searchterm {
					font-family: @titlefont;
					font-size: 85%;
					padding: 5px 3px 3px 22px;
					background: @icon_magnifier no-repeat 3px 2px #fff;
					border: 1px solid lighten(@primary_color,10%);
					width: @searchbox_width;
				}
			}
		}
	}
	
	.searchbox-results {
		width: @searchbox_width + 22px;
	}
}

.messagebox {
	position: absolute;
	top: 55px;
	left: 25%;
	width: 50%;
	display: box;
	overflow: hidden;
	
	.barshadow {
		position: absolute;
		height: 10px;
		width: 100%;
		top: -10px;
		box-shadow: 0 0 2px black;
	}
	
	.message {
		font-family: @uifont;
		font-size: 85%;
		color: #fff;
		.border-radius(0,0,4px,4px);
		padding: 6px 8px 4px 28px;

		background: no-repeat 6px 4px;
		border: 1px solid;
		border-top-width: 0;
	}
	
	.info { background-image: @icon_information; background-color: @info_color; border-color: darken(@info_color,20%); }
	.error { background-image: @icon_exclamation; background-color: @error_color; border-color: darken(@error_color,20%); }
	.question { color: black; background-image: @icon_question; background-color: @question_color; border-color: darken(@question_color,20%); }
	
	.options {
		padding: 7px 0 4px 0;
		.option {
			font-size: 85%;
			outline: none;
			color: darken(#a9a9a9,25%);
		}
		
		.button {
			#buttons > .colored-button(#a9a9a9);
			#buttons > .rounded-button;
			margin-right: 7px;
		}
	}
}



.content {
	margin: 10px 10px 0 10px;
	
	.title {
		margin-bottom: 20px;
		.heading { float: left; }
		.capsulebar {
			#buttons > .colored-capsule-bar(#a9a9a9);
			float: right;
			margin-top: 12px;
		}
	}
	
	a {
		color: @primary_color;
		text-decoration: none;
		
		&:hover { background-color: lighten(@primary_color, 45%); }
	}
	
	
	h1, h2, h3, h4, h5 { font-family: @titlefont; }
	h1 { font-size: 200%; }
	h2 { font-size: 150%; margin: 30px 0 5px 0; }
	h3 { font-size: 110%; margin: 10px 0 0 0; }
	h2:first-child { margin-top: 0; }
	p {
		font-family: @paragraphfont;
		line-height: 140%;
	}
	em { font-style: italic; }
}