//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Styling for the content-element of the article view.
//
// @author Manuel Alabor
//

.article {
	a {
		color: @color_primary;
		text-decoration: none;
		
		&:hover { background-color: lighten(@color_primary, 45%); }
	}
	
	p {
		font-family: @font_paragraph;
		line-height: 140%;
		margin-bottom: 5px;
	}
	em { font-style: italic; }
	
	
	ul:not(.capsulebar), ol:not(.capsulebar) {
		margin: 5px 0;
	}
	ul:not(.capsulebar) { list-style-type: disc; margin-left: 18px; }
	ol:not(.capsulebar) { list-style-type: decimal; margin-left: 24px; }
	
	blockquote {
		font-size: @font_normalsize;
		background-color: lighten(@color_secondary, 32%);
		border: 1px solid lighten(@color_secondary, 15%);
		margin: 10px 3px;
		padding: 6px;
		.border-radius(5px);
	}
	
	pre {
		font-family: @font_editor;
		background-color: lighten(@color_secondary, 32%);
		border: 1px solid lighten(@color_secondary, 15%);
		margin: 10px 3px;
		padding: 6px;
		.border-radius(5px);
	}
}