//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// This core bundle contains some main stylings for the BODY.
// Further the .content-Class creates the basic styling of a page content
// (normally something like "<article class="content" />")
//
// @author Manuel Alabor
//

body { 	background: @img_headerbackground repeat-x; }

.content {
	margin-top: 10px;
	margin-bottom: 30px;
	
	
	h1 { font: bold @font_h1size @font_title; color: @color_h1; }
	h2, h3, h4, h5 {
		a {
			text-decoration: none;
			color: @color_h1;
			
			&:hover { background-color: lighten(@color_primary,45%); }
		}
		font-family: @font_title;
	}
	h2 { font-size: @font_h2size; color: @color_h2; margin: 30px 0 5px 0; }
	h3 { font-size: @font_h3size; color: @color_h3; margin: 10px 0 0 0; }
	h2:first-child { margin-top: 0; }
	
	.button {
		#buttons > .colored-button(@color_secondary,@font_smallsize);
		#buttons > .rounded-button();
	}
	
	.title {
		margin-bottom: 20px;
		.heading { float: left; }
		
		.meta {
			font-size: @font_normalsize;
			color: @color_secondary;
			
			.tag {
				color: @color_secondary;
				&:hover { background-color: lighten(@color_secondary,28%); }
			}
		}
		
		.capsulebar {
			#buttons > .colored-capsule-bar(@color_secondary);
			float: right;
			margin-top: 12px;
			
			.read .caption { background-image: @icon_16_3dglasses; }
			.edit .caption { background-image: @icon_16_pencil; }
			.history .caption { background-image: @icon_16_timeGo; }
		}
	}
	
	.bottom-button-bar {
		margin-top: 20px;
		
		.large-button {
			#buttons > .colored-icon-button(darken(@color_secondary,3%), 120%);
			#buttons > .rounded-button();
			
			.caption {
				background-position: 0 center;
				padding-left: 22px;
			}
		}
		
		.link-button {
			color: @color_secondary;
			font-size: @font_normalsize;
			&:hover {
				color: darken(@color_secondary, 5%);
				background-color: lighten(@color_secondary, 28%);
			}
		}
	}
	
}