//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// This core bundle contains some main stylings for the BODY.
// Further the .content-Class creates the basic styling of a page content
// (normally something like "<article class="content" />")
//
// @author Manuel Alabor
//

body { 	background: @img_headerbackground repeat-x; }

.content {
	margin-top: 10px;
	margin-bottom: 30px;
	
	
	h1 { font: bold @font_h1size @font_title; color: @color_h1; }
	h2, h3, h4, h5 {
		a {
			text-decoration: none;
			color: @color_h1;
			
			&:hover { background-color: lighten(@color_primary,45%); }
		}
		font-family: @font_title;
	}
	h2 { font-size: @font_h2size; color: @color_h2; margin: 30px 0 5px 0; }
	h3 { font-size: @font_h3size; color: @color_h3; margin: 10px 0 0 0; }
	h2:first-child { margin-top: 0; }
	
	.button {
		#buttons > .colored-button(@color_secondary, @font_normalsize);
		#buttons > .rounded-button();
	}
	
	.title {
		margin-bottom: 20px;
		.heading { float: left; }
		
		.meta {
			font-size: @font_normalsize;
			color: @color_secondary;
			
			.tag {
				color: @color_secondary;
				&:hover { background-color: lighten(@color_secondary,28%); }
			}
		}
		
		.capsulebar {
			#buttons > .colored-capsule-bar(@color_secondary);
			float: right;
			margin-top: 12px;
			
			.read .caption { background-image: @icon_16_3dglasses; }
			.edit .caption { background-image: @icon_16_pencil; }
			.history .caption { background-image: @icon_16_timeGo; }
			.diff .caption { background-image: @icon_16_compare; }
			.rollback .caption { background-image: @icon_16_wand; }
			.delete .caption { background-image: @icon_16_bin; }
		}
	}
	
	.bottom-button-bar {
		margin-top: 20px;
		
		.large-button {
			#buttons > .colored-icon-button(darken(@color_secondary,3%), 120%);
			#buttons > .rounded-button();
			
			.caption {
				background-position: 0 center;
				padding-left: 22px;
			}
		}
		
		.link-button {
			color: @color_secondary;
			font: @font_normalsize @font_ui;
			&:hover {
				color: darken(@color_secondary, 5%);
				background-color: lighten(@color_secondary, 28%);
			}
		}
	}
	
	.box {
		font: @font_normalsize @font_ui;
		padding: 6px 5px 6px 29px;
		background: no-repeat 7px 10px;
		border: 1px solid;
		.border-radius(5px);
		margin-bottom: 10px;
		
		&.info { background-image: @icon_16_information; background-color: @color_infomessage; border-color: darken(@color_infomessage,20%); }
		&.error { background-image: @icon_16_exclamation; background-color: @color_errormessage; border-color: darken(@color_errormessage,20%); }
		&.question { color: black; background-image: @icon_16_question; background-color: @color_questionmessage; border-color: darken(@color_questionmessage,20%); }
		
		p { font-family: @font_ui !important; }
		
		.white-paper {
			background-color: #fff;
			padding: 2px;
			margin: 10px 0;
			border: 1px solid lighten(#000,80%);
		}
		
		.options {
			padding: 7px 0 4px 0;
			.option {
				color: darken(@color_secondary,25%);
				font-size: @font_normalsize;
				outline: none;

				&:hover {
					color: darken(@color_secondary, 20%);
					background-color: fadeout(lighten(@color_secondary, 30%),30%);
				}
			}

			.button {
				#buttons > .colored-button(@color_secondary);
				#buttons > .rounded-button;
				margin-right: 7px;
			}
		}
		
	}
	
}