//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Enthält alle nötigen Styles für den Artikel-Editor.
// Dies beinhaltet auch alle MarkItUp-Stylings!
//
// Autor:  Manuel Alabor
//
@import "bundle-mixins";
@import "bundle-ressources";
@import "bundle-buttons";

.markItUp {
	& * {
		margin: 0;
		padding: 0;
		outline: none;
	}
	
	a {
		&:link, &:visited {
			color:#000;
			text-decoration:none;
		}
	}
	
}

.markItUpContainer  {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

.markItUpEditor {
	font: 12px 'Courier New', Courier, monospace;
	width: 100%;
	height:320px;
	clear:both;
	line-height:18px;
	overflow:auto;
	resize: vertical;
	margin-top: 5px;
}

.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */

.editorToolbar {
	#buttons > .colored-capsule-bar(@color_secondary);
	
	.last { margin-right: 5px; }
	.capsule { width: 16px; height: 16px; display: block; cursor: pointer; }
	.caption { height: 16px; display: block;}
	
	.heading1 .caption { background-image: @icon_textHeading1; }
	.heading2 .caption { background-image: @icon_textHeading2; }
	.heading3 .caption { background-image: @icon_textHeading3; }
	.heading4 .caption { background-image: @icon_textHeading4; }
	.heading5 .caption { background-image: @icon_textHeading5; }
	.heading6 .caption { background-image: @icon_textHeading6; }
	.bold .caption { background-image: @icon_textBold; }
	.italic .caption { background-image: @icon_textItalic; }
	.bulletList .caption { background-image: @icon_textListBullets; }
	.numberedList .caption { background-image: @icon_textListNumbers; }
	.addImage .caption { background-image: @icon_imageAdd; }
	.addLink .caption { background-image: @icon_linkAdd; }
	.quote .caption { background-image: @icon_userComment; }
	.sourcecode .caption { background-image: @icon_sourceCode; }
	.preview .caption { background-image: @icon_pageMagnifier; }
}