//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Stylings for the content view of the version history.
//
// @author Manuel Alabor
//
.history {
	
	.versionhistory {
		.timespan {
			font: bold @font_h2size @font_title;
			font-weight: bold;
			background: @icon_16_calendar no-repeat 0 6px;
			padding-left: 23px;
		}

		.group {
			font: @font_normalsize @font_ui;
			margin: 0 0 5px 23px;
			
			.version {
				.diffselector {
					margin: 0;
					padding: 0;
				}
				
				.avatar {
					background: red;
					display: inline-block;
					width: 16px;
					height: 16px;
				}
			}
		}
	}
	
	.diff-button {
		.caption { background-image: @icon_16_compare; }
	}
	
}