//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Stylings for the content view of the version history.
//
// @author Manuel Alabor
//
.history {
	
	.versionhistory {
		.timespan {
			font: bold @font_h2size @font_title;
			font-weight: bold;
			background: @icon_16_calendar no-repeat 0 6px;
			padding-left: 23px;
		}

		.group {
			margin-bottom: 5px;
			
			.version {
				
			}
		}
	}
	
}