//
// HTML5Wiki
// LessCSS-Sourcefile
// 
// Stylings for the content view of search results
//
// @author Manuel Alabor
//
.searchresults {			
	.result {
		font: @font_normalsize @font_ui;
		margin-bottom: 8px;
		padding-left: 21px;
		background: no-repeat 0 5px;
		
		&.mediatype-article { background-image: @icon_16_page; }
	}
}