@import "html5reset-1.6.1.css";
.header-overall {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 85%;
  background: url('../images/headerbackground.png') repeat-x;
  position: relative;
  height: 60px;
  padding: 8px 6px;
}
.header-overall .logo {
  position: absolute;
  background: url('../images/headerLogo.png') no-repeat;
  width: 153px;
  height: 60px;
}
.header-overall .main-menu {
  margin-left: 161px;
  margin-top: 20px;
}
.header-overall .main-menu .menu-items .button {
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  padding: 5px 6px 3px 22px;
  color: #d6411b;
  background-color: #f4b5a5;
  border-color: #e96b4a;
}
.header-overall .main-menu .menu-items .button:hover {
  color: #e44d26;
  background-color: #f6c4b7;
}
.header-overall .main-menu .menu-items .button:active {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.header-overall .main-menu .menu-items .item {
  float: left;
  list-style: none;
  margin-right: 10px;
}
.header-overall .main-menu .menu-items .home .button {
  background-image: url('../images/icons_16/house.png');
}
.header-overall .main-menu .menu-items .updates .button {
  background-image: url('../images/icons_16/timeline.png');
}
.header-overall .main-menu .menu-items .search {
  float: right;
  margin: 0;
}
.hide {
  display: none;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
