<?php
/**
 * Sample configuration
 *
 * @author Michael Weibel <mweibel@hsr.ch>
 * @copyright (c) HTML5Wiki Team 2011
 * @package Config
 */

$config = array(
	'databaseAdapter' => 'PDO_MYSQL',
	'database' => array(
		'host'     => 'localhost',
		'dbname'   => 'html5wiki',
		'username' => 'html5wiki',
		'password' => 'mySuperCoolPassword1337'
	),
	'routing' => array(
		'defaultController' => 'index',
		'defaultAction'     => 'index'
	),
	'languages' => array('en', 'de'),
	'defaultLanguage' => 'en'
);