<?php
/**
 * Sample configuration
 *
 * @author Michael Weibel <mweibel@hsr.ch>
 * @copyright (c) HTML5Wiki Team 2011
 * @package Config
 */

$config = array(
	'wikiName' => 'HTML5Wiki',
	'databaseAdapter' => 'PDO_MYSQL',				// Database System
	'database' => array(
		'host'     => 'localhost',					// Database Host
		'dbname'   => 'html5wiki',					// Database Name
		'username' => 'html5wiki',					// Database User
		'password' => 'mySuperCoolPassword1337'		// Database Password
	),
	'routing' => array(
		'defaultController' => 'wiki',				// Default Controller
		'defaultAction'     => 'welcome'			// If Default Controller == Wiki,
													// this defines the default
													// wikipage to show
	)
	,'languages' => array('en', 'de')				// Available languages
	,'defaultLanguage' => 'en'						// Default language
	,'defaultTimezone' => 'Europe/Zurich'			// Timezone of the server
	,'development' => false							// Production/Development Switch
);