<?php
$CONFiG = array();

$CONFiG['database'] = array(
	'adapter'	=>'pdo_mysql',
	'params'	=> array(
		'host'		=> 'localhost',
		'dbname'	=> 'dbname',
		'username'	=> 'username',
		'password'	=> 'password',
	)
);
?>