#
# .htaccess containing rewrite rules for the HTML5Wiki
#
# @author Michael Weibel <mweibel@hsr.ch>
# @copyright Html5Wiki 2011
# @package Html5Wiki
# @subpackage web
#

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule !^(css/.*|images/.*|prototype/.*|js/.*) index.php [L]